<section class="container d-flex justify-content-center align-items-center h-100 w-100">
  <div class="row text-center">
    <div class="col justify-content-center">
      <%= image_tag "welcome-banner.svg", class: "welcome-banner" %>
      <h3>Seja bem-vindo(a), administrador(a).</h3>
    </div>
  </div>
</section>
