<div class="mt-3 d-flex" aria-label="Ações">
  <% if defined?(show_link) %>
    <%= link_to "Ver", show_link, class: "btn success-background mx-1" %>
  <% end %>

  <% if defined?(edit_link) %>
    <%= link_to "Editar", edit_link, class: "btn primary-variant-background mx-1" %>
  <% end %>

  <% if defined?(delete_link) %>
    <%= button_to "Apagar", delete_link, class: "btn danger-background mx-1", method: :delete %>
  <% end %>
</div>
