<div class="page-title mb-3">
  <h1>Edite estacionamento</h1>

  <%= link_to "Voltar para estacionamentos", parkings_path, class: "btn danger-background" %>
</div>

<%= render layout: 'layouts/shared/card' do %>
  <%= render "form", parking: @parking %>
<% end %>
