<div class="page-title mb-3">
  <h1>New parking</h1>

  <%= link_to "Back to parkings", parkings_path, class: "btn btn-warning" %>
</div>

<%= render layout: 'layouts/shared/card' do %>
  <%= render "form" %>
<% end %>
