/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Altura total da página */
html, body {
  height: 100%;
}

/* Estilo da sidebar */
.sidebar {
  height: 100%;
}

/* Estilo do conteúdo da página */
.content {
  height: 100%;
  padding: 20px;
}

.shadow {
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.10);
}

.logo {
  height: 48px;
  width: auto;
}

.nav-link {
  fill: white;
  color: white !important;
}

.active {
  background: whitesmoke;
  color: #121212 !important;
}

.icon {
  height: 18px;
  margin-right: 12px;
  width: auto;
}

.sidebar {
  z-index: 9999;
}

.primary-background {
  background: #BB86FC !important;
  color: white !important;
}

.primary-variant-background {
  background: #3700B3 !important;
  color: white !important;
}

.secondary-background {
  background: #03DAC6 !important;
  color: white !important;
}

.success-background {
  background: #1FD1A4 !important;
  color: white !important;
}

.danger-background {
  background: #CF6679 !important;
  color: white !important;
}

.dark-background {
  background: #121212 !important;
  color: white !important;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
