<nav class="navbar navbar-expand-lg navbar-light shadow px-4">
  <div class="container-fluid">
    <!-- Informações do usuário -->
    <%= image_tag "logo.png", class: "logo" %>
    <!-- Botão de logout -->
    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</nav>
