<ul class="nav flex-column py-5">
  <li class="nav-item">
    <a id="parkings" class="nav-link d-flex align-items-center" href="/parkings">
      <i class="fas fa-parking icon"></i>
      Estacionamentos
    </a>
  </li>
</ul>

<script type="text/javascript">
  window.onload = () => {
    let navLink = document.getElementById("<%= controller_name %>");
    navLink.classList.add('active');
  };
</script>
